<h1><%= @user.name %></h1>
<% @user.loglines.reverse.each do |logline| %>
	<div>
		<p><%= logline.bio unless nil %></p>
	</div><br>
<% end %>

<p><%= link_to "Log Out", logout_path if current_user %></p>
<%= link_to "Back to Public Loglines", root_path %>