<p>----------</p>
<p><%= rating.logline.content %> Written by <%= link_to rating.logline.user.name, user_path(rating) %></p>
<p>Rated <%= rating.rating %> by: <%= link_to rating.user.name, user_path(rating) %></p>
