<h1>Loglines</h1>
<% @loglines.reverse.each do |logline| %>
	<div>
		<p><%= logline.content %></p>
		<p>Written by: <%= link_to logline.user.name, user_loglines_path(logline.user) %></p>
		<p><%= logline.created_at.strftime("%b %e, %l:%M %p") %></p>
		<% if !logline.categories.empty? %>
			<h2>Categories</h2>
			<% logline.categories.each do |category| %>
				<ul>
					<li><%= link_to category.name, category_path(category) %></li>
				</ul>	
			<% end %>
		<% end %>
		<!-- # This is where the average rating should go -->
		
	</div><br>
<% end %>