<h1>Loglines</h1>
<%= render partial: 'logline', collection: @loglines %>

<script id="show-template" type="text/x-handlebars-template">

	<div data-user-id="{{id}}">
		<a href="#" id="next">Next..</a>
		<h1><strong>{{name}}'s Profile</strong></h1>
		<br>
		<p>{{bio}}</p>
		<ul>
	  {{#each loglines}}
		  <div class="box" data-id="{{id}}">
			  <article class="media">
			    <div class="media-left">
			      <figure class="image is-64x64">
			        <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
			      </figure>
			    </div>
			    <div class="media-content">
			      <div class="content">
			        <p>
			          <strong>{{../name}}</strong> <small>{{../email}}</small>
			          <br>
			          {{content}}
			        </p>

							<div class="rate-form-{{id}}" data-id="{{id}}">
								{{rateHelper this}}
							</div>
			      </div>
			    </div>
			  </article>
			</div>
		{{/each}}
		</ul>
	</div>
	<a href="/">Back to Public Loglines</a>
</script>

<!-- 
<#% if current_user.id != logline.user_id %>
		<#% if already_rated?(logline, current_user.id) %>
			<p>Your Rating: <#%= current_user_rating(logline) %></p>
		<#% else %>
			<#%= render 'loglines/rating_form', logline: logline %>
		<#% end %>
	<#% end %>
-->

<script id="form-template" type="text/x-handlebars-template">
	<form class="new_rating" id="new_rating" action="/ratings" accept-charset="UTF-8" method="post">
		<input name="utf8" type="hidden" value="✓">
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		<input type="hidden" id="logline_id" name="rating[logline_id]" value="{{id}}">
		<input type="text" name="rating[rating]" id="rating_rating">
		<input type="submit" name="commit" value="Add Rating" data-disable-with="Add Rating">
	</form>
</script>






