<h1>Loglines</h1>
<%= render partial: 'logline', collection: @loglines %>

<script id="show-template" type="text/x-handlebars-template">

	<h1><strong>{{name}}'s Profile</strong></h1>
	<br>
	<p>{{bio}}</p>
	<ul>
  {{#each loglines}}
	  <div class="box" data-id="{{id}}">
		  <article class="media">
		    <div class="media-left">
		      <figure class="image is-64x64">
		        <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
		      </figure>
		    </div>
		    <div class="media-content">
		      <div class="content">
		        <p>
		          <strong>{{../name}}</strong> <small>{{../email}}</small>
		          <br>
		          {{content}}
		        </p>
		        
						<div class="rate-form">
							<a href="#" class="button">Rate!</a>
						</div>

		      </div>
		    </div>
		  </article>
		</div>
	{{/each}}
	</ul>


	<a href="/">Back to Public Loglines</a>
</script>






