<h1>Loglines</h1>
<%= render partial: 'logline', collection: @loglines %>

<script id="show-template" type="text/x-handlebars-template">
	<h1><strong>{{name}}'s Profile</strong></h1>
	<br>
	<p>{{bio}}</p>
	<ul>
  {{#each loglines}}
	  <li>{{content}}</li>
	  {{#if averageRating}}
	  	<li>{{averageRating}}</li>
		{{/if}}
		
				<form class="new_rating" id="new_rating" action="/ratings" accept-charset="UTF-8" method="post">
					<input name="utf8" type="hidden" value="✓">
					<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
					<input type="hidden" id="logline_id" name="rating[logline_id]" value="{{id}}">
					<input type="text" name="rating[rating]" id="rating_rating">
					<input type="submit" name="commit" value="Add Rating" data-disable-with="Add Rating">
				</form>
			
			
		<br>
	{{/each}}
	</ul>


	<p><a href="/users/2/loglines">Check out loglines</a></p>
	<a href="/">Back to Public Loglines</a>
</script>

